{% extends 'base.html' %}

{% block title %}Company{% endblock title %}


{% block content %}
    <div class='row'>
        <h2 class="pl-3">KPI</h2>

        <div class='col-sm-6 mx-auto' id="graph">
            <canvas id="mixedChart" width="200" height="200"></canvas>
            <button onclick="toggleDataPoints(0)">Productivity</button>
            <button onclick="toggleDataPoints(1)">Profit</button>
            <button onclick="toggleDataPoints(2)">Capital</button>
        </div>

    </div>


    <script>

        const ctx = document.getElementById('mixedChart');
        const mixedChart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: [{

                    label: 'Productivity',
                    data: [{% for item in qs.productivity.score  %}'{{ item }}',{% endfor %}],
                    borderColor: 'rgba(255, 99, 132, 1)'
                }, {

                    label: 'Profit',
                    data: [{% for item in qs.profit.score  %}'{{ item }}',{% endfor %}],
                    borderColor: 'rgba(54, 162, 1, 1)'
                }, {

                    label: 'Capital',
                    data: [{% for item in qs.capital.score  %}'{{ item }}',{% endfor %}],
                    borderColor: 'rgba(54, 162, 235, 1)'
                }],
                labels: [{% for item in qs.productivity.date  %}'{{ item }}',{% endfor %}]
            },
        });

        function toggleDataPoints (value) {
            console.log(value)
            const showValue = mixedChart.isDatasetVisible(value)
            console.log(showValue)
            if(showValue === true){
                mixedChart.hide(value);
            }
            if(showValue === false){
                mixedChart.show(value);
            }
        }
    </script>

{% endblock %}