{% extends 'base.html' %}

{% block title %}Company{% endblock title %}


{% block content %}
    <div class='row'>
        <h2 class="col-sm-8">Company KPI</h2>
    </div>
    <div class='col-sm-8 mx-auto' id="graph">
        <canvas id="mixedChart" width="200" height="200"></canvas>
    </div>
    <div class='col-sm-8 mx-auto'>
        {% for button in company.kpi %}
            <button class="btn btn-outline-secondary" onclick="toggleDataPoints({{ forloop.counter0 }})">{{ button.title }}</button>
        {% endfor %}

    </div>

    <script>
        const ctx = document.getElementById('mixedChart');
        const dynamicColors = function() {
            const r = Math.floor(Math.random() * 255);
            const g = Math.floor(Math.random() * 255);
            const b = Math.floor(Math.random() * 255);
            return "rgb(" + r + "," + g + "," + b + ")";
         };

        const mixedChart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: [
                    {% for kpi in company.kpi %}
                        {
                            label: '{{ kpi.title }}',
                            borderColor: dynamicColors,
                            data: [{% for item in kpi.value  %}'{{ item }}',{% endfor %}],
                        },
                    {% endfor %}],
                labels: [{% for item in company.kpi.0.date  %}'{{ item|date:'Y-m-d' }}',{% endfor %}]
            },
            options: {
                animations: {
                    tension: {
                        duration: 1000,
                        easing: 'linear',
                        from: 1,
                        to: 0,
                        loop: true
                    }
                },
            }
        });


        function toggleDataPoints(value) {
            console.log(value)
            const showValue = mixedChart.isDatasetVisible(value)
            console.log(showValue)
            if (showValue === true) {
                mixedChart.hide(value);
            }
            if (showValue === false) {
                mixedChart.show(value);
            }
        }


    </script>

{% endblock %}